.headerOption{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  cursor: pointer;
  color: gray;
}

.headerOption:hover{
  color: black;
}

.headerOption__title{
  font-size: 12px;
  font-weight: 400;
}

.headerOption__icon{
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}